{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}{% endblock %}


{% block content %}
  <div class="inn-banner">
    <div class="container">
      <div class="row">
        <h4>Servicios</h4>
        <p>Los servicios de alquiler de artículos están todos sometidos a términos, políticas y condiciones de uso.
        <p>
        <ul>
          <li><a href="/">Inicio</a>
          </li>
          <li><a href="#">Servicios</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--TOP SECTION-->
  <div class="inn-body-section pad-bot-55">
    <div class="container">
      <div class="row">
        <div class="page-head">
          <h2>Servicios</h2>
          <div class="head-title">
            <div class="hl-1"></div>
            <div class="hl-2"></div>
            <div class="hl-3"></div>
          </div>
          <p>El alquiler de artículos es un servicio pensado para ti, para que disfrutes con amigos y familiares
            momentos de estudio, deporte y diversión.</p>
        </div>
        <!--TYPOGRAPHY SECTION-->
        <div class="col-md-12">
          <div class="head-typo typo-com">
            <h2>Servicios</h2>
            <p>El precio de alquiler incluye domicilio del articulo en la zona urbana de la ciudad de Pereira; los
              artículos se encuentran en optimas condiciones y confiamos en que le darás un uso adecuado y responsable
              al momento de usarlos y al momento de devolverlos.</p>
            <!--EVENT-->
            <div class="aminities">
              <ul>
                {% for service in object_list %}
                  <li class="aminities-line">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <div class="row amini-body">
                      <div class="col-md-4">
                        {% with service.images.all|first as img_first %}
                          <img src="{{ img_first.image.url }}" alt="IMG-PRODUCT" width="350" height="240">
                        {% endwith %}
                      </div>
                      <div class="col-md-8">
                        <h4>{{ service }}</h4>
                        <p>{{ service.description }}</p>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <!--END EVENT-->
          </div>
        </div>

        <!--END TYPOGRAPHY SECTION-->
      </div>
    </div>
  </div>
  <!--TOP SECTION-->

{% endblock content %}


