{% extends "base.html" %}

{% load static i18n humanize %}

{% block content %}
  <!--TOP BANNER-->
		<div class="inn-banner">
			<div class="container">
				<div class="row">
					<h4>Acerca de nosotros</h4>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
						<p>
							<ul>
								<li><a href="/">Inicio</a> </li>
								<li><a href="{% url 'webclient:about' %}">Acerca de nosotros</a> </li>
							</ul>
				</div>
			</div>
		</div>

    <div class="container container-about-us">
        <div class="row">
            <div class="col-12 m-b-100 px-4">
                <h1 class="pb-5 text-center" style="color: #ab9466;">Nuestra empresa</h1>
                <div class="head-title text-center">
                <div class="hl-1"></div>
                <div class="hl-2"></div>
                <div class="hl-3"></div>
              </div>
                <p style="text-align: justify;">{{contact.about}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 p-b-40 px-4">
                <div class="blog-item">
                    <div class="img" 
                        style="background-image: url(/media/{{contact.mision_image}});">
                    </div>
                    <div class="p-t-15">
                        <h4 class="p-b-12 text-center">
                            <a href="#" class="mtext-101 cl2 hov-cl1 trans-04 about-title" style="font-size:32px">
                                Misión
                            </a>
                        </h4>

                        <p class="stext-108 cl6">
                            {{contact.mision}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 p-b-40 px-4">
                <div class="blog-item">
                    <div class="img" 
                        style="background-image: url(/media/{{contact.vision_image}});">
                    </div>
                    <div class="p-t-15">
                        <h4 class="p-b-12 text-center">
                            <a href="#" class="mtext-101 cl2 hov-cl1 trans-04 about-title" style="font-size:32px">
                                Visión
                            </a>
                        </h4>

                        <p class="stext-108 cl6">
                            {{contact.vision}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 p-b-40 px-4">
                <div class="blog-item">
                    <div class="img" 
                        style="background-image: url(/media/{{contact.corporative_values_image}});">
                    </div>
                    <div class="p-t-15">
                        <h4 class="p-b-12 text-center">
                            <a href="#" class="mtext-101 cl2 hov-cl1 trans-04 about-title" style="font-size:32px">
                                Valores Corporativos
                            </a>
                        </h4>

                        <ul class="corporative-values cl6">
                            {% for v in corporative %}
                                <li class="corporative-values">
                                    {{v.value}}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
