{% load static humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
	<title>{% block title %}Como en Casa HBT (Hospitalidad, Bienestar, Tranquilidad){% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Como En Casa HBT, es un complejo habitaciónal de universitarios y jóvenes empleados que buscan un lugar adecuado donde vivir; disfruta de total Hospitalidad, Bienestar y Tranquilidad.">
	<meta name="keywords" content="alquiler, habitaciones, tranquilidad, eje cafetero, amor y amistad, tours, airbnb, alquiler consolas, bicicletas, alquiler bicicletas, alquiler individual, alquiler apartaestudios, alquiler apartamento, 
									transporte, experiencias, excursiones, alojamientos universitarios, alojamientos estudiantes, estudiantes, universidad, ">
	<meta name="google-site-verification" content="dK7fhkYnF4ZiFtuNTcjf5HSnyY33YqXt5v2NtdRX2MQ" />
	<meta name=“robots” content=“noindex”>
	{% block css%}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
			<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
		<!--===============================================================================================-->	
			<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons-v1.0.0/icon-font.min.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
		<!--===============================================================================================-->	
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
		<!--===============================================================================================-->	
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/MagnificPopup/magnific-popup.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<!--===============================================================================================-->
	{% endblock %}
	{% block extra_css%}{% endblock %}
</head>
<body class="animsition">
	
	{% block header%}
		<!-- Header -->
		<header class="header-v2">
			<!-- Header desktop -->
			<div class="container-menu-desktop trans-03">
				<div class="wrap-menu-desktop">
					<nav class="limiter-menu-desktop p-l-45">
						
						<!-- Logo desktop -->		
						<a href="#" class="logo">
							<img src="{% static 'images/logo1.png' %}" alt="IMG-LOGO">
						</a>
						{% block menu_desktop %}
							<!-- Menu desktop -->
							<div class="menu-desktop">
								<ul class="main-menu">
									<li class="active-menu">
										<a href="/">Inicio</a>
									</li>

									<li>
										<a href="{% url 'webclient:room-list' %}">Habitaciones disponibles</a>
									</li>

									<li>
										<a href="{% url 'webclient:services-list' %}">Servicios</a>
									</li>

									<li>
										<a href="{% url 'webclient:experiences-list' %}">Experiencias</a>
									</li>

									<li>
										<a href="#">Acerca de nosotros</a>
									</li>

									<li>
										<a href="{% url 'webclient:contact_form' %}">Contáctenos</a>
									</li>

								</ul>
							</div>
						{% endblock %}

						<!-- Icon header -->
						<div class="wrap-icon-header flex-w flex-r-m h-full">
								
							<div class="flex-c-m h-full p-lr-19">
								<div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-sidebar">
									<i class="zmdi zmdi-menu"></i>
								</div>
							</div>
						</div>
					</nav>
				</div>	
			</div>

			<!-- Header Mobile -->
			<div class="wrap-header-mobile">
				<!-- Logo moblie -->		
				<div class="logo-mobile">
					<a href="/"><img src="{% static 'images/logo1.png' %}" alt="IMG-LOGO"></a>
				</div>

				<!-- Button show menu -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>

			{% block menu_mobile %}
				<!-- Menu Mobile -->
				<div class="menu-mobile">
					<ul class="main-menu-m">
						<li class="active-menu">
							<a href="/">Inicio</a>
						</li>

						<li>
							<a href="{% url 'webclient:room-list' %}">Habitaciones disponibles</a>
						</li>

						<li>
							<a href="{% url 'webclient:services-list' %}">Servicios</a>
						</li>

						<li>
							<a href="{% url 'webclient:experiences-list' %}">Experiencias</a>
						</li>

						<li>
							<a href="#">Acerca de nosotros</a>
						</li>

						<li>
							<a href="{% url 'webclient:contact_form' %}">Contáctenos</a>
						</li>
						{% if request.user.is_authenticated%}
							<li>
								<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
									Mi Perfil
								</a>
							</li>

							<li>
								<a href="{% url 'account_logout' %}" class="stext-102 cl2 hov-cl1 trans-04">
									Cerrar sesión
								</a>
							</li>
						{% else %}
							<li>
								<a href="{% url 'account_login' %}" class="stext-102 cl2 hov-cl1 trans-04">
									Iniciar sesión
								</a>
							</li>
							<li>
								<a href="{% url 'account_signup' %}" class="stext-102 cl2 hov-cl1 trans-04">
									Regístrate
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			{% endblock %}
		</header>
	{% endblock %}

	<!-- Sidebar -->
	<aside class="wrap-sidebar js-sidebar">
		<div class="s-full js-hide-sidebar"></div>

		<div class="sidebar flex-col-l p-t-22 p-b-25">
			<div class="flex-r w-full p-b-30 p-r-27">
				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-sidebar">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>

			<div class="sidebar-content flex-w w-full p-lr-65 js-pscroll">
				<ul class="sidebar-link w-full">
					<li class="p-b-13">
						<a href="/" class="stext-102 cl2 hov-cl1 trans-04">
							Inicio
						</a>
					</li>

					{% if request.user.is_authenticated%}
						<li class="p-b-13">
							<a href="#" class="stext-102 cl2 hov-cl1 trans-04">
								Mi Perfil
							</a>
						</li>

						<li class="p-b-13">
							<a href="{% url 'account_logout' %}" class="stext-102 cl2 hov-cl1 trans-04">
								Cerrar sesión
							</a>
						</li>
					{% else %}
						<li class="p-b-13">
							<a href="{% url 'account_login' %}" class="stext-102 cl2 hov-cl1 trans-04">
								Iniciar sesión
							</a>
						</li>
						<li class="p-b-13">
							<a href="{% url 'account_signup' %}" class="stext-102 cl2 hov-cl1 trans-04">
								Regístrate
							</a>
						</li>
					{% endif %}
				</ul>


				<div class="sidebar-gallery w-full">
					<span class="mtext-101 cl5">
						Acerca de nosotros
					</span>

					<p class="stext-108 cl6 p-t-27">
						Como En Casa es un complejo habitacional de estudiantes y personas adultas que cuentan con un trabajo estable; estamos ubicados en la ciudad de Pereira y disponemos de 48 habitaciones ubicadas estratégicamenteen 11 sedes en diferentes partes de la ciudad, este nuevo concepto de vivienda busca satisfacer las necesidades de los usuarios, ofreciéndoles serviciosy experiencias adicionales que contribuyan a la comodidad y a la sensación de sentirse como en casa.
					</p>
				</div>
			</div>
		</div>
	</aside>


	{% block content %}

	{% endblock %}

	


	{% block footer %}
		<!-- Footer -->
		<footer class="bg3 p-t-50 p-b-20">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-lg-3">
						<h4 class="stext-301 cl0 p-b-30">
							Que te ofrecemos
						</h4>

						<ul>
							<li class="p-b-10">
								<a href="{% url 'webclient:room-list' %}" class="stext-107 cl7 hov-cl1 trans-04">
									Habitaciones
								</a>
							</li>

							<li class="p-b-10">
								<a href="{% url 'webclient:services-list' %}" class="stext-107 cl7 hov-cl1 trans-04">
									Servicios
								</a>
							</li>

							<li class="p-b-10">
								<a href="{% url 'webclient:experiences-list' %}" class="stext-107 cl7 hov-cl1 trans-04">
									Experiencias
								</a>
							</li>

						</ul>
					</div>

					<div class="col-sm-6 col-lg-3">
						<h4 class="stext-301 cl0 p-b-30">
							Ayuda
						</h4>

						<ul>
							<li class="p-b-10">
								<a href="{% url 'webclient:contact_form' %}" class="stext-107 cl7 hov-cl1 trans-04">
									Contáctenos
								</a>
							</li>
						</ul>
					</div>

					<div class="col-sm-6 col-lg-3">
						<h4 class="stext-301 cl0 p-b-30">
							Ponerse en contacto
						</h4>

						<p class="stext-107 cl7 size-201">
							Pereira, Colombia<br>
							Cra 10 # 26-29, Centro<br>
							Celular: (+57) 3003430556<br>
							Email: comoencasahbt@gmail.com
						</p>
						
					</div>
					<div class="col-sm-6 col-lg-3">
							<h4 class="stext-301 cl0 p-b-30">
								Síguenos en nuestras redes sociales
							</h4>
		
							<div class="p-t-27">
								<a href="https://www.facebook.com/comoencasaHbt14/" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
									<i class="fab fa-facebook-f" style="font-size:2em"></i>
								</a>
	
								<a href="https://www.instagram.com/comoencasahbt" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
									<i class="fab fa-instagram" style="font-size:2em"></i>
								</a>
	
							</div>
						</div>

				</div>

				<div class="p-t-40">

					<p class="stext-107 cl6 txt-center">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

					</p>
				</div>
			</div>
		</footer>

	{% endblock%}

	<a href="https://wa.me/573003430556?text=Quisiera%20información%20acerca%20de%20los%20servicios%20" class="float" target="_blank">
		<i class="fab fa-whatsapp" style="padding-top: 10px;font-size: 1.3em;"></i>
	</a>

	{% block js %}
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
		<!--===============================================================================================-->	
			<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
		<!--===============================================================================================-->
			<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
		<!--===============================================================================================-->
			<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
			<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<!--===============================================================================================-->
			<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
			<script>
				$(".js-select2").each(function(){
					$(this).select2({
						minimumResultsForSearch: 20,
						dropdownParent: $(this).next('.dropDownSelect2')
					});
				})
			</script>
		<!--===============================================================================================-->
			<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
			<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
		<!--===============================================================================================-->
			<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
			<script src="{% static 'js/slick-custom.js' %}"></script>
		<!--===============================================================================================-->
			<script src="{% static 'vendor/parallax100/parallax100.js' %}"></script>
			<script>
				$('.parallax100').parallax100();
			</script>
		<!--===============================================================================================-->
			<script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
			<script>
				$('.gallery-lb').each(function() { // the containers for all your galleries
					$(this).magnificPopup({
						delegate: 'a', // the selector for gallery item
						type: 'image',
						gallery: {
							enabled:true
						},
						mainClass: 'mfp-fade'
					});
				});
			</script>
		<!--===============================================================================================-->
			<script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
		<!--===============================================================================================-->
			<script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
		<!--===============================================================================================-->
			<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
			<script>
				$('.js-pscroll').each(function(){
					$(this).css('position','relative');
					$(this).css('overflow','hidden');
					var ps = new PerfectScrollbar(this, {
						wheelSpeed: 1,
						scrollingThreshold: 1000,
						wheelPropagation: false,
					});

					$(window).on('resize', function(){
						ps.update();
					})
				});
			</script>
		<!--===============================================================================================-->
			<script src="{% static 'js/main.js' %}"></script>
	{% endblock %}
	{% block extra_js %}{% endblock %}

</body>
</html>