{% extends "base.html" %}
{% load static humanize %}

{% block extra_css %}{% endblock %}


{% block content %}
  <div class="inn-banner">
    <div class="container">
      <div class="row">
        <h4>Experiencias</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
        <p>
        <ul>
          <li><a href="#">Home</a>
          </li>
          <li><a href="#">Experiencias</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--TOP SECTION-->
  <div class="inn-body-section pad-bot-55">
    <div class="container">
      <div class="row">
        <div class="page-head">
          <h2>Experiencias</h2>
          <div class="head-title">
            <div class="hl-1"></div>
            <div class="hl-2"></div>
            <div class="hl-3"></div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet.</p>
        </div>
        <!--TYPOGRAPHY SECTION-->
        <div class="col-md-12">
          <div class="head-typo typo-com">
            <h2>Experiencias</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
              letters, as opposed to using 'Content here, content here', making it look like readable English. Many
              desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
              search for 'lorem ipsum' will uncover many web sites still in their infancy. </p>
            <!--EVENT-->
            <div class="aminities">
              <ul>
                {% for experience in object_list %}
                  <li class="aminities-line">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <div class="row amini-body">
                      <div class="col-md-4">
                        {% with experience.images.all|first as img_first %}
                          <img src="{{img_first.image.url}}" alt="IMG-PRODUCT" width="350" height="240" >
                        {% endwith %}
                      </div>
                      <div class="col-md-8">
                        <h4>{{ experience }}</h4>
                        <p>{{ experience.description }}</p>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <!--END EVENT-->
          </div>
        </div>

        <!--END TYPOGRAPHY SECTION-->
      </div>
    </div>
  </div>
  <!--TOP SECTION-->

{% endblock content %}


