{% extends "account/base_auth.html" %}

{% load static i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-b-20">
                <span class="login100-form-title p-b-70">
                    {% trans "Password Reset" %}
                </span>
                <span class="login100-form-avatar mb-3">
                    <img src="{% static 'icons/ICONOS-27.png' %}" alt="AVATAR">
                </span>
                
                <p class="fs-17 text-center">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

                <ul class="login-more p-t-190">
                    <li class="m-b-8">
                        <a href="{% url 'account_login' %}" class="txt2">
                            Iniciar sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
{% endblock %}

