{% extends "account/base_auth.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-b-20">
                <span class="login100-form-title p-t-30 p-b-70">
                    {% if token_fail %}{% trans "Bad Token" %}{% else %}Recuperar contraseña{% endif %}
                </span>
                <span class="login100-form-avatar mb-3">
                    <img src="{% static 'icons/ICONOS-27.png' %}" alt="AVATAR">
                </span>
                {% if form.non_field_errors %}
                    <div class="alert alert-block alert-danger">
                        {% if form_error_title %}<h4 class="alert-heading">{{ form_error_title }}</h4>{% endif %}
                        <ul>
                            {{ form.non_field_errors|unordered_list }}
                        </ul>
                    </div>
                {% endif %}
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>
                        {% blocktrans %}
                            El enlace para restablecer la contraseña es inválido, probablemente porque ya ha sido utilizado. 
                            Por favor solicita <a href="{{ passwd_reset_url }}" style="color: var(--blue)">restablecer la contraseña de nuevo</a>.
                        {% endblocktrans %}
                    </p>
                {% else %}
                    {% if form %}
                        <form class="login100-form validate-form password_reset" method="POST" action=".">
                            {% csrf_token %}
                            <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Ingresa tu nueva contraseña">
                                <input type="password" name="password1" class="input100" id="id_password1">
                                <!-- <input type="email" name="email" autofocus="autofocus" maxlength="150" class="input100" id="id_email"> -->
                                <span class="focus-input100" data-placeholder="Nueva contraseña"></span>
                            </div>
        
                            <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Confirma tu contraseña">
                                <input type="password" name="password2" class="input100" id="id_password2">
                                <span class="focus-input100" data-placeholder="Nueva contraseña (de nuevo)"></span>
                            </div>
        
        
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn">
                                    Cambiar contraseña
                                </button>
                            </div>
        
                            <!-- <ul class="login-more p-t-190">
                                <li class="m-b-8">
                                    <a href="{% url 'account_login' %}" class="txt2">
                                        Cambiar contraseña
                                    </a>
                                </li>
                            </ul> -->
        
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
    </div>

    
{% endblock %}

