{% extends "account/base_auth.html" %}

{% load static i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-b-20">
                <span class="login100-form-title p-b-70">
                    Recuperar contraseña
                </span>
                <span class="login100-form-avatar mb-3">
                    <img src="{% static 'icons/ICONOS-27.png' %}" alt="AVATAR">
                </span>
                {% if form.non_field_errors %}
                    <div class="alert alert-block alert-danger">
                        {% if form_error_title %}<h4 class="alert-heading">{{ form_error_title }}</h4>{% endif %}
                        <ul>
                            {{ form.non_field_errors|unordered_list }}
                        </ul>
                    </div>
                {% endif %}
                {% if formset.non_form_errors %}
                    <div class="alert alert-block alert-danger">
                        {% if formset_error_title %}<h4 class="alert-heading">{{ formset_error_title }}</h4>{% endif %}
                        <ul>
                            {{ formset.non_form_errors|unordered_list }}
                        </ul>
                    </div>
                {% endif %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <form class="login100-form validate-form password_reset" method="POST" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Ingresa tu correo">
                        <input type="email" name="email" autofocus="autofocus" maxlength="150" class="input100" id="id_email">
                        <span class="focus-input100" data-placeholder="Correo electrónico"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Enviar
                        </button>
                    </div>

                    <ul class="login-more p-t-190">
                        <li class="m-b-8">
                            <a href="{% url 'account_login' %}" class="txt2">
                                Iniciar Sesión
                            </a>
                        </li>
                    </ul>

                </form>
            </div>
        </div>
    </div>
{% endblock %}

