{% extends "base.html" %}

{% load static i18n humanize %}
{% load crispy_forms_tags %}
{% load range %}

{% block extra_css %}
  <style>
    .btn-filter {
      margin-top: 10px;
      background: #ab9465;
      font-weight: 600;
    }
  </style>
{% endblock %}


{% block content %}

  <!--HEADER SECTION-->
  <section>
    <!--TOP BANNER-->
    <div class="inn-banner">
      <div class="container">
        <div class="row">
          <h4>Nuestras habitaciones</h4>
          <p>Conoce el completo portafolio que hemos diseñado para ti, te proporcionamos las mejores opciones de
            alojamiento, en las mas completas habitaciones para estudiantes y población laboral activa.
          <p>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="{% url 'webclient:room_list' %}">Habitaciones</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--TOP SECTION-->
    <div class="inn-body-section pad-bot-70">
      <div class="container">
        <div class="row">
          <div class="page-head">
            <h2>Nuestras Habitaciones</h2>
            <div class="head-title">
              <div class="hl-1"></div>
              <div class="hl-2"></div>
              <div class="hl-3"></div>
            </div>
            <p>Nuestras habitaciones se encuentran adecuadas para qué disfrutes de HOSPITALIDAD BIENESTAR Y TRANQUILIDAD
              en tu estancia, disfruta de confort pleno y siéntete Como En Casa.</p>
          </div>
          <div class="flex-w flex-l-m filter-tope-group m-tb-10 typo-com collap-expand book-form inn-com-form">
            <form class="col s12 ng-pristine ng-valid" method="get" action=".">
              <div class="row">
                <div class="input-field col s12">
                  <select class="category-select" name="category">
                    <option value="" selected disabled>Selecciona una categoria</option>
                    {% for cat in categories %}
                      <option value="{{ cat.pk }}">{{ cat }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button type="submit" class="btn btn-filter mb-2">Filtrar</button>
            </form>
          </div>
          <div class="isotope-grid">
            {% if object_list %}
              {% for room in object_list %}
                <!--ROOM SECTION-->
                <div class="room room-1 isotope-item {{ room.category.slug }}">
                  <!--ROOM IMAGE-->
                  <div class="r1 r-com r-com-1 r1-1">
                    {% with room.related_images.all|first as img_first %}
                      <img src="{{ img_first.image.url }}" alt="IMG-PRODUCT" width="500" height="375">
                    {% endwith %}
                  </div>
                  <!--ROOM RATING-->
                  <div class="r2 r-com r-com-1">
                    <h3 style="color: #ffffff;">{{ room.name }}</h3>
                    <ul>
                      <li>Código : {{ room.code }}</li>
                    </ul>
                    {% if room.available %}
                      <div class="r2-available r2-available-1">Disponible</div>
                    {% else %}
                      <div class="r2-not-available r2-available-1">
                        No Disponible
                      </div>
                    {% endif %}
                  </div>
                  <!--ROOM Services-->
                  <div class="r3 r-com r-com-1">
                    <h4>Descripción</h4>
                    <span style="color: #fff;">{{ room.short_description }}</span>
                  </div>
                  <!--ROOM Services-->
                  <div class="r3 r-com r-com-1">
                    <h4>Servicios</h4>
                    <ul>
                      {% for s in room.category.parent.related_services.all %}
                        <li><i class="fa fa-check" style="color: #d4b26a;"></i> {{ s }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  <!--ROOM PRICE-->
                  <div class="r4 r-com r-com-1">
                    <h4>Precio</h4>
                    <p>Precio mensual</p>
                    <p>
                      <span class="room-price-1">${{ room.price|intcomma }}</span>
                  </div>
                  <!--ROOM BOOKING BUTTON-->
                  <div class="r5 r-com r-com-1 r5-1">
                    <a href="{% url 'webclient:room-detail' room.pk %}" class="inn-room-book">Detalle</a></div>
                </div>
                <!--END ROOM SECTION-->
              {% endfor %}
              {% if is_paginated %}
                <div class="col-md-12">
                  <ul class="pagination text-center">
                    {% if page_obj.has_previous %}
                      <li class="waves-effect">
                        <a href="/rooms?page={{ page_obj.previous_page_number }}"><</a>
                      </li>
                    {% endif %}
                    {% for i in page_obj.paginator.num_pages|times %}
                      <li class="{% if i  == page_obj.number %}active{% else %}waves-effect{% endif %}">
                        <a href="/rooms?page={{ i }}">{{ i }}</a>
                      </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li class="waves-effect">
                        <a href="/rooms?page={{ page_obj.next_page_number }}">></a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              {% endif %}
            {% else %}
              <h3>Habitaciones</h3>
              <p>No hay habitaciones con estas caracteristicas!!! :(</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!--TOP SECTION-->
  </section>
  <!--END HEADER SECTION-->
{% endblock %}

{% block extra_js %}
{% endblock %}



